openapi: 3.1.0
info:
  title: Vision Moderation as a Service
  version: 1.0.0
  description: A SaaS that classifies uploaded images for prohibited content.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.moderation.vision-service.org
    description: Production Server
paths:
  /v1/predict:
    post:
      summary: Synchronous classification for a single image
      operationId: predict
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictRequest'
      responses:
        '200':
          description: Successful prediction
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Model-Version:
              $ref: '#/components/headers/X-Model-Version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictResponse'
        '400':
          description: Bad Request
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/predict-batch:
    post:
      summary: Synchronous classification for a batch of images
      operationId: predictBatch
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPredictRequest'
      responses:
        '200':
          description: Successful batch prediction
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Model-Version:
              $ref: '#/components/headers/X-Model-Version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPredictResponse'
        '400':
          description: Bad Request
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/predict-async:
    post:
      summary: Submit a single image for asynchronous classification
      operationId: predictAsync
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictRequest'
      responses:
        '202':
          description: Request accepted, job created
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncSubmitResponse'
        '400':
          description: Bad Request
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload Too Large
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/predictions/{job_id}:
    get:
      summary: Retrieve the status or result of an asynchronous classification job
      operationId: getPrediction
      security:
        - ApiKeyAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          description: The UUID of the asynchronous moderation job
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job completed successfully (or result retrieval status)
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Model-Version:
              $ref: '#/components/headers/X-Model-Version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResult'
        '202':
          description: Job is still processing or queued
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResult'
        '400':
          description: Bad Request
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  headers:
    X-Request-ID:
      description: Unique trace ID for the request.
      schema:
        type: string
        format: uuid
    X-Model-Version:
      description: Version of the classification model used.
      schema:
        type: string
        example: "resnet50-moderation-v2.1"

  schemas:
    PredictRequest:
      type: object
      required:
        - image
      properties:
        image:
          type: string
          format: base64
          description: Base64-encoded image data. Must be JPEG, PNG, or WebP up to 5 MB in decoded size.
        k:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: The number of top classifications to return.

    PredictResponse:
      type: object
      required:
        - predictions
      properties:
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/LabelPrediction'

    LabelPrediction:
      type: object
      required:
        - label
        - probability
      properties:
        label:
          type: string
          description: The content safety classification label.
        probability:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Calibrated probability score.

    BatchPredictRequest:
      type: object
      minProperties: 1
      maxProperties: 32
      additionalProperties:
        $ref: '#/components/schemas/PredictRequest'
      description: A map of caller-supplied prediction IDs to prediction requests. Up to 32 items allowed.

    BatchPredictResponse:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/BatchPredictResult'
      description: A map of caller-supplied prediction IDs to prediction results or errors.

    BatchPredictResult:
      type: object
      oneOf:
        - $ref: '#/components/schemas/PredictResponse'
        - $ref: '#/components/schemas/Error'

    AsyncSubmitResponse:
      type: object
      required:
        - job_id
        - status
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running]

    AsyncResult:
      type: object
      required:
        - job_id
        - status
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed]
        result:
          $ref: '#/components/schemas/PredictResponse'
        error:
          $ref: '#/components/schemas/Error'

    Error:
      type: object
      required:
        - code
        - message
        - request_id
      properties:
        code:
          type: string
          description: High-level error code for machine consumption.
        message:
          type: string
          description: Human-readable error message.
        request_id:
          type: string
          format: uuid
          description: The request ID associated with the error.
